{
  "extends": "eslint-config-airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0, {  }],
    "linebreak-style": 0,
    "arrow-body-style": 0,
    "object-shorthand": 0,
  },
}
